# Variáveis para o serviço 'db' (PostgreSQL)
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Variáveis para o serviço 'app' (Backend Flask)
# Note que 'db' no hostname refere-se ao nome do serviço do banco de dados no docker-compose
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
